a:hover {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background-color: #464D55;
}

#header {
  background: url('assets/Faces Background.png');
  background-repeat: no-repeat;
}

#products {
  background: #464D55;
  font-family: 'Montserrat', sans-serif;
}

#header {
  height: 47rem;
}

#organization {
  height: 54rem;
}

#products {
  height: 51rem;
}

#header-logo {
  position: absolute;
  top: 1.3rem;
  left: 3.3rem;
  width: 4.3em;
}

#header-logo:hover {
  cursor: pointer;
}

#header-person {
  position: relative;
  left: 12.3%;
  height: 109%;
  top: -7.7%;
}

#organization {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-bar {
  color: white;
  width: 70%;
  position: absolute;
  display: flex;
  top: 1.6rem;
  left: 0;
  right: 1rem;
  margin: 0 auto;
  justify-content: center;
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.nav-bar ul li {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 45px;
  color: white;
}

.nav-bar ul li a {
  transition: color 0.2s ease;
  color: inherit;
  padding-right: 2em;
  padding-bottom: 2.2em;
  padding-left: 2em;
  border-bottom: 1px solid white;
  transition: color 0.2s ease;
}

.nav-bar ul li a:hover {
  cursor: pointer;
  color: #B8A9A3;
  border-bottom: 1px solid #B8A9A3;
  transition: border-bottom 0.2s ease;
}

#header-quote {
  height: 96px;
  width: 318px;
  color: #FFFFFF;
  font-family: 'Oswald';
  font-size: 24px;
  line-height: 32px;
  position: absolute;
  top: 16.5rem;
  right: 11rem;
  font-weight: 300;
  letter-spacing: 0.8px;
}

#header-line {
  height: 1px;
  width: 11rem;
  background-color: #B8A9A3;
  position: absolute;
  top: 20rem;
  right: 0;
}

#header-intro {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 25rem;
  left: 9rem;
  width: 30rem;
}

#header-tagline {
  font-weight: 900;
  font-family: 'Playfair Display';
  letter-spacing: 0.89px;
  font-size: 57px;
  line-height: 75px;
  margin-bottom: 0;
}

#header-stronger {
  font-family: 'Oswald';
  letter-spacing: 0.5px;
  font-size: 32px;
  line-height: 75px;
  font-weight: 500;
  margin-bottom: 0.6em;
}

#header-button {
  background-color: white;
  color: #252537;
  font-weight: 500;
}

#header-button:hover {
  background-color: #385C6C;
  color: white;
}

#skip-header {
  position: absolute;
  font-family: 'Montserrat';
  color: #FAFAFA;
  letter-spacing: 1px;
  transform: rotate(270deg);
  font-size: 10px;
  line-height: 14px;
  width: 2em;
  top: 45rem;
  left: 39rem;
  z-index: 1;

}

#who-container, #what-container {
  height: 20rem;
  margin: 0 5rem 0 5rem;
  position: relative;
}

#who-container {
  margin-top: 5.5rem;
  width: 27rem;
  left: 1rem;
}

#what-container {
  margin-top: 25rem;
  width: 32rem;
  top: -1rem;
  left: -1rem;
}

.org-line {
  height: 1px;
  transform: rotate(90deg);
  background-color: #B8A9A3;
  position: absolute;
  z-index: 1;
}

#org-line-1 {
  width: 21rem;
  bottom: -12.4rem;
  left: 31rem;
}

#org-line-2 {
  width: 34rem;
  left: 31rem;
  bottom: -41.45rem;
}

.org-header {
  font-family: 'Playfair Display';
  color: #252537;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2.93px;
  margin-bottom: 0.6em;
}

.org-description {
  width: 24.7rem;
  font-family: 'Montserrat';
  letter-spacing: 0.73px;
  float: right;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

#org-platform {
  width: 28em;
  margin-bottom: 5.5em;
}

.org-bg-number {
  position: absolute;
  opacity: 0.3;
  color: #B8A9A3;
  font-size: 15em;
  font-family: 'Playfair Display';
  letter-spacing: 11.92px;
  line-height: 16rem;
  top: 0.55em;
  right: 0.9em;
}

#bg-number-2 {
  left: -2rem;
  top: 7rem;
}

.info-button {
  height: 42px;
  width: 13em;
  background-color: #385C6C;
  color: white;
  float: right;
  border: none;
  letter-spacing: 1.2px;
  font-size: 13px;
}

#what-container > .info-button {
  margin-right: 2em;
}

#skip-org {
  position: relative;
  bottom: -19rem;
}

#product-header {
  max-width: 30%;
  color: #B8A9A3;
  font-family: 'Playfair Display';
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3.13px;
  line-height: 80px;
  margin: 0 auto;
  position: relative;
  top: 2.5rem;
  text-align: center;
}

#product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 5rem;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  width: 32.5%;
  margin-left: 1em;
  margin-right: 1em;
  overflow: auto;
}

.product-type {
  height: 15px;
  color: #1A1A1E;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3.74px;
  line-height: 15px;
  text-align: center;
  margin-top: 3em;
}

.product-name {
  height: 34px;
  color: #464D55;
  font-size: 28px;
  letter-spacing: 0.88px;
  line-height: 34px;
  text-align: center;
  margin: 0 auto 0.5em auto;
  display: flex;
  flex-direction: row;
}

.bolder {
  font-weight: bold;
  margin-right: 0.3em;
}

.product-description {
  width: 25em;
  margin: 0 auto 1em;
  color: #1A1A1E;
  font-size: 0.9em;
  line-height: 25px;
  text-align: center;
  font-weight: 500;
}

.product-features {
  list-style-type: none;
  margin: 2em auto 0.9em;
  padding-left: 0;
  padding-top: 0;
}
.product-features li {
  margin: 0 auto 1.2em;
  font-size: 0.9em;
  font-weight: 300;
}

.product-features li:last-child {
  margin-bottom: 2em;
}

.product-button {
  border: none;
  height: 59px;
  width: 25em;
  border-radius: 4px;
  background-color: #385C6C;
  color: white;
  margin: 1.75em auto 2em;
  font-size: 0.9em;
}

.divider {
  margin: 0 auto;
  height: 1px;
  width: 26em;
  background-color: #E1E1E1;
}

@media (min-height: 901px) {

  #org-line-1 {
    top: 88.5%;
  }

  #org-line-2 {
    bottom: -35.5%;
  }
}

@media (min-width: 1281px) {
  .nav-bar {
    white-space: nowrap;
  }
}

@media (min-width: 1441px) {

  #header {
    background-size: 100% auto;
  }

  #header-person {
    left: 30%;
  }

  #skip-header {
    left: 45%;
  }

  #org-line-1 {
    left: 39%;

  }

  #org-line-2 {
    left: 41%;

  }

  #who-container {
    left: -3%;
  }

  #what-container {
    left: 0.5%;
  }

  .product {
    margin: 0 2em 0 2em;
    width: 25%;
  }
}
