#header {
  background: url("assets/Faces Background.png");
}

#products {
  background: #464D55;
}

#header, #organization, #products {
  height: 47rem;
}

#header-logo {
  position: absolute;
  top: 1.3em;
  left: 3.3em;
  width: 4.3em;
}

#header-logo:hover {
  cursor: pointer;
}

#header-person {
  position: relative;
  left: 12.3%;
  height: 109%;
  top: -7.7%;
}

.nav-bar {
  color: white;
  width: 70%;
  position: absolute;
  display: flex;
  top: 1.6em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nav-bar ul {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.nav-bar ul li {
  display: inline-block;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 45px;
  border-bottom: 1px solid white;
}

.nav-bar ul li:hover {
  cursor: pointer;
  color: #B8A9A3;
  border-bottom: 1px solid #B8A9A3;
}

#product-header {
  height: 80px;
  width: 413px;
  color: #B8A9A3;
  font-family: "Playfair Display";
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3.13px;
  line-height: 80px;
  margin: 0 auto;
  position: relative;
  top: 0.7em;
}

.product {
  background: white;
}
