#header {
  background: url('assets/Faces Background.png');
}

#products {
  background: #464D55;
  font-family: 'Montserrat', sans-serif;
}

#header, #organization, #products {
  height: 47rem;
}

#header-logo {
  position: absolute;
  top: 1.3rem;
  left: 3.3rem;
  width: 4.3em;
}

#header-logo:hover {
  cursor: pointer;
}

#header-person {
  position: relative;
  left: 12.3%;
  height: 109%;
  top: -7.7%;
}

#organization {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-bar {
  color: white;
  width: 70%;
  position: absolute;
  display: flex;
  top: 1.6rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.nav-bar ul {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.nav-bar ul li {
  display: inline-block;
  padding-right: 2em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  line-height: 45px;
  border-bottom: 1px solid white;
}

.nav-bar ul li:hover {
  cursor: pointer;
  color: #B8A9A3;
  border-bottom: 1px solid #B8A9A3;
}

#who-container, #what-container {
  height: 20rem;
  width: 30rem;
  border: 1px solid black;
  margin: 0 5rem 0 5rem;
}

#who-container {
  margin-top: 5rem;
}

#what-container {
  margin-top: 25rem;
}

.org-header {
  font-family: 'Playfair Display';
  color: #252537;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2.93px;
}

.org-description {
  width: 26rem;
  font-family: 'Montserrat';
  letter-spacing: 0.73px;
}

.org-bg-number {
  position: absolute;
  opacity: 0.3;
  color: #B8A9A3;
  font-size: 12rem;
  font-family: 'Playfair Display';
  letter-spacing: 11.92px;
  line-height: 16rem;
}

.info-button {
  height: 42px;
  width: 10em;
  background-color: #385C6C;
  box-shadow: 0 8px 40px 0 #4B4B4B;
  color: white;
  float: right;
}

#product-header {
  max-width: 30%;
  color: #B8A9A3;
  font-family: 'Playfair Display';
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3.13px;
  line-height: 80px;
  margin: 0 auto;
  position: relative;
  top: 2.5rem;
}

#product-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 5rem;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  width: 32.5%;
  margin-left: 1em;
  margin-right: 1em;
}

.product-type {
  height: 15px;
  color: #1A1A1E;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3.74px;
  line-height: 15px;
  text-align: center;
  margin-top: 3em;
}

.product-name {
  height: 34px;
  color: #464D55;
  font-size: 28px;
  letter-spacing: 0.88px;
  line-height: 34px;
  text-align: center;
  margin: 0 auto 0.5em auto;
  display: flex;
  flex-direction: row;
}

.bolder {
  font-weight: bold;
  margin-right: 0.3em;
}

.product-description {
  width: 25em;
  margin: 0 auto 0.5em;
  color: #1A1A1E;
  font-size: 0.9em;
  line-height: 25px;
  text-align: center;
}

.product-features {
  list-style-type: none;
  margin: 2em auto 0.9em;
  padding-left: 0;
}
.product-features li {
  margin: 0.9em auto 0.9em;
  font-size: 0.85em;
  font-weight: 300;
}

.product-features li:last-child {
  margin-bottom: 2em;
}

.product-button {
  border: none;
  height: 59px;
  width: 25em;
  border-radius: 4px;
  background-color: #385C6C;
  color: white;
  margin: 1.75em auto 2em;
  font-size: 0.9em;
}

.product-button:hover {
  cursor: pointer;
}

.divider {
  margin: 0 auto;
  height: 1px;
  width: 26em;
  background-color: #E1E1E1;
}
